NET "clk_div" LOC=E5; # clk:0.div
NET "clk_in_sel" LOC=G5; # clk:0.in_sel
NET "clk_mmcx_osc_sel" LOC=C11; # clk:0.mmcx_osc_sel
NET "clk_osc_en_n" LOC=B6; # clk:0.osc_en_n
NET "dds_sync_clk0" LOC=P5 | PULLUP; # dds_sync:0.clk0
NET "dds_sync_clk_out_en" LOC=T5; # dds_sync:0.clk_out_en
NET "dds_sync_sync_sel" LOC=T10; # dds_sync:0.sync_sel
NET "dds_sync_sync_out_en" LOC=R6; # dds_sync:0.sync_out_en
NET "dds_common_master_reset" LOC=F16; # dds_common:0.master_reset
NET "dds_common_io_reset" LOC=B9; # dds_common:0.io_reset
NET "ifc_mode(0)" LOC=E14; # ifc_mode:0
NET "ifc_mode(1)" LOC=B16; # ifc_mode:0
NET "ifc_mode(2)" LOC=A16; # ifc_mode:0
NET "ifc_mode(3)" LOC=B15; # ifc_mode:0
NET "variant" LOC=A15; # variant:0
NET "att_clk" LOC=E9; # att:0.clk
NET "att_rst_n" LOC=N9; # att:0.rst_n
NET "att_le(0)" LOC=E10; # att:0.le
NET "att_le(1)" LOC=P8; # att:0.le
NET "att_le(2)" LOC=C8; # att:0.le
NET "att_le(3)" LOC=K4; # att:0.le
NET "att_s_in(0)" LOC=B7; # att:0.s_in
NET "att_s_in(1)" LOC=D8; # att:0.s_in
NET "att_s_in(2)" LOC=D7; # att:0.s_in
NET "att_s_in(3)" LOC=L5; # att:0.s_in
NET "att_s_out(0)" LOC=C10; # att:0.s_out
NET "att_s_out(1)" LOC=C9; # att:0.s_out
NET "att_s_out(2)" LOC=E8; # att:0.s_out
NET "att_s_out(3)" LOC=R9; # att:0.s_out
NET "fsen" LOC=N15; # fsen:0
NET "dds_rf_sw" LOC=D13; # dds:0.rf_sw
NET "dds_led(0)" LOC=E11; # dds:0.led
NET "dds_led(1)" LOC=B10; # dds:0.led
NET "dds_smp_err" LOC=D4 | PULLUP; # dds:0.smp_err
NET "dds_pll_lock" LOC=E4 | PULLUP; # dds:0.pll_lock
NET "dds_io_update" LOC=B1; # dds:0.io_update
NET "dds_profile(0)" LOC=A9; # dds:0.profile
NET "dds_profile(1)" LOC=B8; # dds:0.profile
NET "dds_profile(2)" LOC=A8; # dds:0.profile
NET "dds_osk" LOC=C13; # dds:0.osk
NET "dds_drover" LOC=D11; # dds:0.drover
NET "dds_drhold" LOC=E13; # dds:0.drhold
NET "dds_drctl" LOC=C14; # dds:0.drctl
NET "dds_reset" LOC=B13; # dds:0.reset
NET "dds_sck" LOC=A2; # dds:0.sck
NET "dds_sdo" LOC=A3 | PULLUP; # dds:0.sdo
NET "dds_sdi" LOC=B2; # dds:0.sdi
NET "dds_cs_n" LOC=B3; # dds:0.cs_n
NET "dds_rf_sw_1" LOC=C12; # dds:1.rf_sw
NET "dds_led_1(0)" LOC=A13; # dds:1.led
NET "dds_led_1(1)" LOC=A11; # dds:1.led
NET "dds_smp_err_1" LOC=J1 | PULLUP; # dds:1.smp_err
NET "dds_pll_lock_1" LOC=K2 | PULLUP; # dds:1.pll_lock
NET "dds_io_update_1" LOC=P4; # dds:1.io_update
NET "dds_profile_1(0)" LOC=D3; # dds:1.profile
NET "dds_profile_1(1)" LOC=D2; # dds:1.profile
NET "dds_profile_1(2)" LOC=E2; # dds:1.profile
NET "dds_osk_1" LOC=C3; # dds:1.osk
NET "dds_drover_1" LOC=B4; # dds:1.drover
NET "dds_drhold_1" LOC=C7; # dds:1.drhold
NET "dds_drctl_1" LOC=C4; # dds:1.drctl
NET "dds_reset_1" LOC=F2; # dds:1.reset
NET "dds_sck_1" LOC=K3; # dds:1.sck
NET "dds_sdo_1" LOC=J3 | PULLUP; # dds:1.sdo
NET "dds_sdi_1" LOC=K5; # dds:1.sdi
NET "dds_cs_n_1" LOC=J4; # dds:1.cs_n
NET "dds_rf_sw_2" LOC=D10; # dds:2.rf_sw
NET "dds_led_2(0)" LOC=A14; # dds:2.led
NET "dds_led_2(1)" LOC=B14; # dds:2.led
NET "dds_smp_err_2" LOC=P6 | PULLUP; # dds:2.smp_err
NET "dds_pll_lock_2" LOC=N7 | PULLUP; # dds:2.pll_lock
NET "dds_io_update_2" LOC=H5; # dds:2.io_update
NET "dds_profile_2(0)" LOC=M1; # dds:2.profile
NET "dds_profile_2(1)" LOC=M6; # dds:2.profile
NET "dds_profile_2(2)" LOC=M5; # dds:2.profile
NET "dds_osk_2" LOC=L1; # dds:2.osk
NET "dds_drover_2" LOC=L2; # dds:2.drover
NET "dds_drhold_2" LOC=L4; # dds:2.drhold
NET "dds_drctl_2" LOC=K1; # dds:2.drctl
NET "dds_reset_2" LOC=R10; # dds:2.reset
NET "dds_sck_2" LOC=H4; # dds:2.sck
NET "dds_sdo_2" LOC=J2 | PULLUP; # dds:2.sdo
NET "dds_sdi_2" LOC=H3; # dds:2.sdi
NET "dds_cs_n_2" LOC=H1; # dds:2.cs_n
NET "dds_rf_sw_3" LOC=D9; # dds:3.rf_sw
NET "dds_led_3(0)" LOC=A12; # dds:3.led
NET "dds_led_3(1)" LOC=B11; # dds:3.led
NET "dds_smp_err_3" LOC=N6 | PULLUP; # dds:3.smp_err
NET "dds_pll_lock_3" LOC=P7 | PULLUP; # dds:3.pll_lock
NET "dds_io_update_3" LOC=E3; # dds:3.io_update
NET "dds_profile_3(0)" LOC=N3; # dds:3.profile
NET "dds_profile_3(1)" LOC=P1; # dds:3.profile
NET "dds_profile_3(2)" LOC=P2; # dds:3.profile
NET "dds_osk_3" LOC=N2; # dds:3.osk
NET "dds_drover_3" LOC=N5; # dds:3.drover
NET "dds_drhold_3" LOC=N4; # dds:3.drhold
NET "dds_drctl_3" LOC=N1; # dds:3.drctl
NET "dds_reset_3" LOC=T8; # dds:3.reset
NET "dds_sck_3" LOC=H2; # dds:3.sck
NET "dds_sdo_3" LOC=G3 | PULLUP; # dds:3.sdo
NET "dds_sdi_3" LOC=F5; # dds:3.sdi
NET "dds_cs_n_3" LOC=G4; # dds:3.cs_n
NET "eem_io" LOC=M2; # eem:0.io
NET "eem_oe" LOC=P15; # eem:0.oe
NET "eem_io_1" LOC=R13; # eem:1.io
NET "eem_oe_1" LOC=M15; # eem:1.oe
NET "eem_io_2" LOC=T16; # eem:2.io
NET "eem_oe_2" LOC=K15; # eem:2.oe
NET "eem_io_3" LOC=R16; # eem:3.io
NET "eem_oe_3" LOC=N16; # eem:3.oe
NET "eem_io_4" LOC=R15; # eem:4.io
NET "eem_oe_4" LOC=L15; # eem:4.oe
NET "eem_io_5" LOC=R14; # eem:5.io
NET "eem_oe_5" LOC=M16; # eem:5.oe
NET "eem_io_6" LOC=R12; # eem:6.io
NET "eem_oe_6" LOC=L16; # eem:6.oe
NET "eem_io_7" LOC=T15; # eem:7.io
NET "eem_oe_7" LOC=P16; # eem:7.oe
NET "eem_io_8" LOC=M3; # eem:8.io
NET "eem_oe_8" LOC=R7; # eem:8.oe
NET "eem_io_9" LOC=J5; # eem:9.io
NET "eem_oe_9" LOC=T4; # eem:9.oe
NET "eem_io_10" LOC=R3; # eem:10.io
NET "eem_oe_10" LOC=R4; # eem:10.oe
NET "eem_io_11" LOC=R2; # eem:11.io
NET "eem_oe_11" LOC=R5; # eem:11.oe
NET "eem_io_12" LOC=R1; # eem:12.io
NET "eem_oe_12" LOC=M7; # eem:12.oe
NET "eem_io_13" LOC=T1; # eem:13.io
NET "eem_oe_13" LOC=R8; # eem:13.oe
NET "eem_io_14" LOC=T2; # eem:14.io
NET "eem_oe_14" LOC=T7; # eem:14.oe
NET "eem_io_15" LOC=T3; # eem:15.io
NET "eem_oe_15" LOC=M8; # eem:15.oe
NET "tp" LOC=A4; # tp:0
NET "tp_1" LOC=A5; # tp:1
NET "tp_2" LOC=B5; # tp:2
NET "tp_3" LOC=A6; # tp:3
NET "tp_4" LOC=A7; # tp:4


NET "eem_io" TNM_NET = "PRDeem_io";
TIMESPEC "TSeem_io" = PERIOD "PRDeem_io" 8.0 ns HIGH 50%;



NET "eem_io_2" TNM_NET = "PRDeem_io_2";
TIMESPEC "TSeem_io_2" = PERIOD "PRDeem_io_2" 8.0 ns HIGH 50%;
